{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="stylesheet" href="{% static "/css/main.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,800,900&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>
            SIGN UP WITH
        </h1>
        <ul class="accounts">
            <img src="{% static "/img/f_icon.png" %}" alt="Facebook">
            <li>
                <a href="{% provider_login_url "facebook" method="js_sdk" %}">FACEBOOK</a>
            </li>
            <li class="slash">
                /
            </li>
            <img src="{% static "/img/g_icon.png" %}" alt="Google">
            <li>
                <a href="{% provider_login_url "google" %}">GOOGLE</a>
            </li>
        </ul>
        <ul class="strips">
            <li>
                <hr class="stripe">
            </li>
            <li class="or">
                or
            </li>
            <li>
                <hr class="stripe">
            </li>
        </ul>
        <form id='registartion' action="/test-site/success/" method="post"> {% csrf_token %}
            <center>
                <input class="name" name="firstname" placeholder="First Name" required></input>
                <input class="name" name="lastname" placeholder="Last Name" required></input>
                <input class="email" name="email" placeholder="Email" required></input>
                <input class="password" name="password" placeholder="Password" type="password" required></input>
                <input class="password" name="password" placeholder="Confirm Password" type="password" required></input>
                <input class="checkbox" type="checkbox" value="agree" required><div>I'd like to receive PlacePass news and offers</div></input>
                <p>By signing up, I agree to the PlacePass <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
                <button class="reg">REGISTER</button>
                <ul class="haveacc">
                    <li>
                        <h1 class="acctxt">Already have an account?</h1>
                    </li>
                    <li>
                        <button form="none" class="login">LOG IN</button>
                    </li>
                </ul>
            </center>
        </form>
    </div>
</body>
</html>