body {
    background: url(/static/img/background.png);
    background-position: center;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 626px;
    margin: 0 auto;
    height: 1010px;
    margin-top: 93px;
    background: white;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
}

h1 {
    text-align: center;
    padding: 55px;
    padding-bottom: 35px;
    margin: 0;
    font-size: 24px;
}

.accounts {
    display: flex;
    font-size: 24px;
    padding: 0;
    margin: 0;
    margin-left: 55px;
    margin-right: auto;
}

li {
    display: block;
}

.slash {
    padding-left: 50px;
    padding-right: 25px;
}

a {
    text-decoration: none;
}

img {
    height: 26px;
    width: 26px;
    padding-left: 25px;
    padding-right: 25px;
}

.strips {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 36px;
    margin-bottom: 0px;
}

.stripe {
    border: none;
    background-color: lightgray;
    height: 2px;
    width: 236px;
    margin-top: 18px;
    vertical-align: bottom;
}

.or {
    margin: 0;
    padding: 0 10px 0 10px;
    font-size: 24px;
}

input {
    font-size: 24px;
    height: 55px;
    width: 525px;
    text-align: center;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    padding-top: 10px;
    border-radius: 5px;
}

.name {
    background: url(/static/img/firstname.png) no-repeat;
}

.email {
    background: url(/static/img/email.png) no-repeat;
}

.password {
    background: url(/static/img/password.png) no-repeat;
}

.checkbox{
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 22px;
    font-size: 24px;
    color: grey;
}

form {
    margin: 0;
    margin-top: 12px;
}

.reg {
    background: #01ab53;
    color: #f2fffd;
    height: 92px;
    width: 525px;
    box-shadow: 0;
    border: 0;
    font-size: 24px;
    border-radius: 5px;

}

p {
    text-align: left;
    width: 525px;
    margin: 0;
    padding: 0;
    color: grey;
}

.haveacc {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.acctxt {
    text-align: left;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

.login {
    border: solid #80adc0 2px;
    background-color: white;
    color: #80adc0;
    width: 193px;
    height: 55px;
    border-radius: 5px;
    font-size: 24px;
    margin-left: 45px;
}