body {
    background: url(/static/img/background.png);
    background-position: center;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 626px;
    margin: 0 auto;
    height: 1010px;
    margin-top: 93px;
    background: white;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
}

h1 {
    text-align: center;
    padding: 55px;
    padding-bottom: 42px;
    margin: 0;
    font-size: 24px;
}

.accounts {
    display: flex;
    font-size: 24px;
    padding: 0;
    margin: 0;
    margin-left: 55px;
    margin-right: auto;
}

li {
    display: block;
}

.slash {
    padding-left: 50px;
    padding-right: 25px;
}

a {
    text-decoration: none;
}

img {
    height: 26px;
    width: 26px;
    padding-left: 25px;
    padding-right: 25px;
}

.strips {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 36px;
    margin-bottom: 0px;
}

.stripe {
    border: none;
    background-color: lightgray;
    height: 2px;
    width: 236px;
    margin-top: 18px;
    vertical-align: bottom;
}

.or {
    margin: 0;
    padding: 0 10px 0 10px;
    font-size: 24px;
}

textarea {
    font-size: 24px;
    height: 70px;
    width: 525px;
    text-align: center;
    height: 70px;
    width: 525px;
    margin: 10px;
}

.name {
    background: url(static/img/f_icon.png) no-repeat 50% 50%;
}